{# @var craft \craft\web\twig\variables\CraftVariable #}

<h1>Working with Files</h1>

<h2 data-guide-section>Assets</h2>
<h2 data-guide-section>Editing an Image</h2>
double-click for window
section for image optimize
<h2 data-guide-section>Focal Point</h2>
<h2 data-guide-section>Replacing an Asset</h2>




<p>The <a href="{{ url('assets') }}">Assets</a> tab consolidates all your uploads into one area. You can add and delete assets here. Adding an asset will allow you to choose it elsewhere on the website if you wish. Be careful when deleting an asset as it will delete it throughout the website and may create broken images or broken links.</p>
<img src="/img/help/cms_assets.png">
<h2>Options</h2>
<p>You can make changes to a filename and its Alt tag (labeled &ldquo;Title&rdquo;), by double-clicking on the thumbnail of the file.</p>
<p>Some assets have extra options that are available only in certain context. For example, an image in Content Images has a YouTube ID field that—when this image is used in an image gallery—the thumbnail image will pop up a video player. If this image is used on a page in a content block, it will not use the YouTube ID field and the image will appear as a normal image.</p>
<img src="/img/help/cms_assets_options.png">



{#

<h1>CMS Guide</h1>

<p>{{ guideVar("clientName") }}&rsquo;s website was built using the Craft CMS content management system (CMS). While Craft makes content management easy and intuitive, this guide is here to help get you started and to answer a few questions you may have along the way.</p>

<h2 data-guide-section>Dashboard</h2>

<div class="guide_grid guide_grid--image--right">
    <div>
        <p>The first thing you&rsquo;ll see when logging into Craft&rsquo;s Control Panel (CP) is the Dashboard. This page is home to helpful widgets that offer information about your website. The Dashboard is customizable for each user, so you may add, remove, and re-arrange the layout of the widgets you find most useful.</p>
    </div>
    {{ guideAsset('guide-admin-bar.png') }}
</div>

{% if pluginEnabled('admin-bar') %}
    <h2 data-guide-section>Admin Bar</h2>

    <div class="guide_grid guide_grid--image--right">
        <div>
            <p>When logged in and visiting the front-end of the {{ guideVar("clientName") }} website, you&rsquo;ll see a shortcut bar along the top of the screen. The Admin Bar helps you to quickly get back to the CP, to edit the current page, and to log out of the CMS.</p>
            <p>The links in Admin Bar can be customized, so if you find yourself frequenting a page in the CP, a shortcut to that page can be added in Admin Bar&rsquo;s settings.</p>
        </div>
        {{ guideAsset('guide-admin-bar.png') }}
    </div>
{% endif %}

#}